.plus {
    max-width: 40px;
    position: relative;
    bottom: 245px;
  left: 83%;
    z-index: 998;
}

.popUp {
    z-index:999;
    font-size: 20px;
    box-shadow: 0px 5px 10px 10px lightgrey;
    background-color: #F1F9E4;
}
.popUp h3 {
    display: block;
    width: 65px;
    height: 65px;
    font-size: 25px;
    text-align: center;
    border-radius: 50%;
    padding: 20px 20px;
    padding-bottom: 30px;
    margin: auto;
}
.popUp h3:hover {
    opacity: .5;
}

.popUp p {
    font-size: 15px;
    text-align: center;
    margin: 20px auto;
}
.popUp h4 {
    text-align: center;
}

.products {
    display: flex;
    justify-content: space-between;
    
}

.products section {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    flex-wrap: wrap;
    /*border: solid black 2px; */
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 5px 10px 1px #73AF63;
    text-align: center;
    width: 32%;
    height: 220px;
    background-color: white;
    color: black;
}
.products section:hover {
    opacity: 50%;
}

.products section p {
    color: black;
}

.imgContainer {
    max-width: 100%;
    max-height: 100%;
}
.imgContainer img {
    max-width: 60%;
}
.suggestions p {
    color: #394936;
    font-size: 10px;
}

.productGrade {
    position: relative;
    top: 0%;
    left: 40%;
    font-size: 18px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    padding-top: 8px;
}

.button {
    position: absolute;
    margin: 20px auto;
    top: 0%;
    left: 90%;
}

.startButton {
    position: fixed;
    height: 4%;
    z-index: 99;
    width: 4%;
    
}

.mainModule {
    position: fixed;
    box-shadow: 0px 5px 5px 5px grey;
    border-radius: 2% 2% 2% 2%;
    z-index: 9999;
    height: 67%;
    width: 30%;
    left: 83%;
    top: 40%;
    background-color: #F1f9e4;
    padding: 20px 10px;
}

.animateButton {
    position: relative;
    bottom: 2px;
    left: 32%;
}

.defaultContainer {
    width: 100%;
    display: grid;
    justify-content: center;
}

.moduleImg {
    max-width: 100%;
    max-height: 300px;
    position: relative;
    left: 10px;
}

.mainModExitButton {
    position: relative;
    margin-top: 5px;
    left: 90%;
    font-size: 20px;
    width: 10%;
    height: 10%;
    z-index: 999;
}

.logoHeader {
    position: relative;
    top: 0%;
    left: 100px;
    width: 250px;
    
}

.message{
    text-align: center;
    width: 80%;
    position: relative;
    left: 50px;
    margin-top: 30px;
}

.congrats {
    text-align: center;
    
}
.description {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 80px;
}

.canvasContainer {
    position: relative;
    bottom: 30px;
    left: 40px;
    width: 80%;
    height: 200px;
}

.canvas {
    width: 100%;
}